@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto';
    font-weight: 400;
}

html body {
    height: 100%;
    margin: 0;
}

.myAccount {
    all: unset;
    color: white;
    font-weight: bolder;
    margin-left: auto;
    margin-right: 50px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.25s;
}

.myAccount:hover {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(240, 255, 255, 0.187);
}

.dropDown {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    right: 10px;
    border-bottom: gray solid 1px;
    border-left: gray solid 1px;
    border-right: gray solid 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    width: 200px;
    padding: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100vh;
    align-items: center;
    box-shadow: black 20px -20px 20px -30px;
}